# Environment variables
.env*
!/.env.example

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
frontend/node_modules/
frontend/.next/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Project-specific cache
backend/cache/
*.log

# OS-specific
.DS_Store
Thumbs.db 